        <div class="row m-1">
            <div class="card bg-body-light">
                <div class="row align-items-center border-bottom">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <div class="ratio rounded-circle overflow-hidden m-2" style="height: 48px;width: 48px;">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/b/bc/Juvenile_Ragdoll.jpg" style="object-fit: cover;" alt="pfp placeholder">
                        </div>
                        <h2>TestUser</h2>
                    </div>
                    <div class="col-6 d-flex justify-content-end align-items-center">
                        <p>Timestamp</p>
                    </div>
                </div>
                <div class="card-body">
                    <p style="font-size: x-large;">This is where a joke would go.</p>
                </div>
                <div class="card-footer bg-white">
                    <form action="/rateJoke" method="POST" id="rateJoke">
                        {{!-- <button type="submit" name="rate" value="upvote" onclick="alert('You liked this post!')" style="font-size: x-large;">😂</button>
                        <button type="submit" name="rate" value="downvote" onclick="alert('You disliked this post!')" style="font-size: x-large;">😢</button> --}}
                        <input type="radio" id="like" name="rating" value="upvote" onchange="this.form.querySelector('#secret_submit').click()" checked>
                        <label for="like" style="font-size: x-large;">
                            <i class="fa-solid fa-heart"></i>
                        </label>
                        <input type="radio" id="dislike" name="rating" value="downvote" onchange="this.form.querySelector('#secret_submit').click()">
                        <label for="dislike" style="font-size: x-large;">
                            <i class="fa-solid fa-heart-crack"></i>
                        </label>
                        <button id="secret_submit" type="submit" style="display: none"></button>
                    </form>
                </div>
            </div>
        </div>