<div class="row m-1">
    <div class="row align-items-center border-bottom">
        <div class="col-6 d-flex justify-content-start align-items-center">
            <div class="ratio rounded-circle overflow-hidden m-2" style="height: 48px;width: 48px;">
                <img src={{ profilePicture }} style="object-fit: cover;" alt="pfp placeholder">
            </div>
            <h2>{{ username }}</h2>
        </div>
    </div>
</div>