@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

.henny-penny-regular {
  font-family: "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
}

#profile-icon {
  transition: opacity 0.2s ease;
}

#profile-icon:hover {
  opacity: 0.7;
}

.glow-gh i {
  transition: 0.3s ease;
}

.glow-gh:hover i {
  color: #ffffff; /* or white depending on background */

  text-shadow: 0 0 8px #000000,
               0 0 15px #000000;
}

.btn-purple {
  background-color: #6f42c1;  /* Bootstrap purple */
  color: white;
  border: none;
}

.btn-purple:hover {
  background-color: #5a32a3;
  color: white;
}