<div class="container justify-content-center align-items-center">
    <h1 class="henny-penny-regular my-4">Feed the doomscroll...</h1>
    <div class="container border rounded justify-content-center align-items-center overflow-auto" style="height: 500px;">
        <div class="row m-1 border">
            <div class="col col-12 text-start">
                <div class="d-flex justify-content-start align-items-center border-bottom">
                    <div class="ratio rounded-circle overflow-hidden m-2" style="height: 48px;width: 48px;">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/b/bc/Juvenile_Ragdoll.jpg" style="object-fit: cover;" alt="pfp placeholder">
                    </div>
                    <h2>FunniestUser</h2>
                </div>
                <div class="row">
                    <p style="font-size: x-large;">Gorilla: Did you here about the gorilla who escaped from the zoo?<br>Zookeeper: No. I did not.<br>Gorilla: That is because I am a quiet gorilla.<br>[Muffled sounds of gorilla violence]</p>
                </div>
            </div>
        </div>
        {{> post}}
        {{> post}}
        {{> post}}
        {{> post}}
        {{> post}}
        {{> post}}
        {{> post}}
        {{> post}}
    </div>
    <form action="/home" method="GET" style="display: inline;">
        <button type="submit">Home</button>
    </form>
</div>