<div class="container justify-content-center align-items-center" id="feed_page">
    <h1 class="henny-penny-regular my-4">Feed the doomscroll...</h1>
    <div class="container border rounded justify-content-center align-items-center overflow-auto" id="feedBox" style="height: 500px;">

    </div>
    <form class="text-center my-3" action="/loadJokes" method="GET" id="loadJokes" name="loadJokes">
        <button class="btn btn-purple henny-penny-regular" type="submit" style="font-size: x-large;">Entertain me, Jester!</button>
    </form>
    <div class="text-center my-3">
        <a href="/home" class="btn btn-purple henny-penny-regular">
            Home
        </a>
    </div>
</div>