<div class="container my-5">

    {{#if user}}
    <h2 class="text-center mb-3 henny-penny-regular">Welcome, {{user.username}}!</h2>
    {{/if}}

    {{#if message}}
      <p class="text-center text-success henny-penny-regular">{{message}}</p>
    {{/if}}

    <h3 class="text-center mt-4 mb-4 henny-penny-regular">Jokes of the Day</h3>

    <div class="d-flex flex-column align-items-center gap-3">
        {{#each jokes}}
        <div class="card text-center" style="width: 25rem;">
            <div class="card-body">
                {{this}}
            </div>
        </div>
        {{/each}}
    </div>

    <div class="d-flex justify-content-center gap-2 mt-4">
        <a href="/jokecreate" class="btn btn-primary henny-penny-regular">Create Joke</a>
        <a href="/settings" class="btn btn-secondary henny-penny-regular">Settings</a>
        <a href="/leaderboards" class="btn btn-success henny-penny-regular">Leaderboards</a>
    </div>

</div>
