<div class="container my-5">

    
    <h2 class="text-center mb-3 henny-penny-regular" style="color:green;">
        Welcome{{#if user}}, {{user.username}},{{/if}} to JokeSpot!
    </h2>

    <!-- message on the homepage will be the joke of the day -->

    <h3 class="text-center mt-4 mb-4 henny-penny-regular"><u>The Joke of the Day</u></h3>

    <div class="d-flex flex-column align-items-center gap-3">

        <div class="card text-center" style="width: 75rem; font-size: 2rem; padding: 1.5rem;">
            <div class="card-body">
                {{#if message}}
                    {{message}}
                {{/if}}
                {{#else}}
                    Error: Joke of the Day is unavailable.
                {{/else}}
            </div>
        </div>

        <div class="card text-center mt-4" style="width: 20rem; font-size: 1.25rem;">
            <div class="card-body">
                Think you can do better?
            </div>
        </div>
    </div>
    <div class="text-center my-4">
  <a href="/jokecreate" class="btn btn-primary btn-purple henny-penny-regular" style="font-size: 1.25rem; padding: 0.75rem 1.5rem;">
    Create a Joke
  </a>
</div>

</div>
