<h2>Home</h2>
{{#if user}}
<p>Welcome, {{user.username}}!</p>
{{/if}}

{{#if message}}
<p>{{message}}</p>
{{/if}}

<h3>Jokes</h3> 
<ul>
    A man walks into a bar and says ouch<br>
    another man walks into a bar and says to the first man "Why did they put this here"
</ul>

<div style="margin: 15px 0;">
    <form action="/jokecreate" method="GET" style="display:inline;">
        <button type="submit">Create Joke</button>
    </form>

    <form action="/settings" method="GET" style="display:inline;">
        <button type="submit">Settings</button>
    </form>

    <form action="/leaderboards" method="GET" style="display:inline;">
        <button type="submit">Leaderboards</button>
    </form>
</div>