<h2 class="text-center henny-penny-regular" style="margin-top: 15px;">Create a Joke</h2>

{{#if user}}
<p class="text-center henny-penny-regular" style="margin-top: 15px;">{{user.username}}, share your joke!</p>
{{/if}}

<form id="postJoke" name="postJoke" action="/jokecreate" method="POST" style="text-align: center; margin-top: 20px;">
    <div style="margin-bottom: 15px; display: flex; justify-content: center;">
        <textarea id="jokeContent" name="jokeContent" rows="10" cols="60" placeholder="Why did the chicken cross the road..." style="text-align: center;, cursive;"></textarea>
    </div>
    <div style="margin-bottom: 15px; display: flex; justify-content: center;">
        <textarea id="tags" name="tags" rows="2" cols="60" placeholder="Type your tags here... (e.g. tag_1,tag_2,tag_3)" style="text-align: center;, cursive;"></textarea>
    </div>
    <div style="margin-top: 15px;">
        <button type="submit" class="henny-penny-regular btn-purple my-2" style="font-size: 1rem; padding: 0.75rem 1.5rem;">Post Joke</button>
    </div>
</form>

<div id="messageBox" class="alert mx-auto text-center rounded" style="width: 60ch;">
  {{> message}}
</div>

<form action="/home" method="GET" style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
    <button type="submit" class="henny-penny-regular btn-purple" style="font-size: 1rem; padding: 0.75rem 1.5rem;">Back to Home</button>
</form>