
{{!-- <div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="py-2">Behold, the best comedians...</h1>
    <div class="d-flex flex-column justify-content-center align-items-center" style="width: 400px;">

    </div>
    <div class="border border-dark mb-1 p-1">
        <p>Test cell 1. Each cell represents a user on the leader board.</p>
    </div>
    <div class="border border-dark mb-1 p-1">
        <p>Test cell 2. Each cell represents a user on the leader board1111111111.</p>
    </div>
    <div>
        <p>Test cell 2. Each cell represents a user on the leader board.</p>
    </div>

</div> --}}
<div class="container justify-content-center align-items-center mt-5">
    <h1 class="py-2 henny-penny-regular">Behold, the best comedians...</h1>
    <div class="container border rounded justify-content-center align-items-center overflow-auto" style="height: 400px;">
        <div class="row mb-1">
            <div class="col col-6 text-start">
                <p style="font-size: x-large;">FunniestUser</p>
            </div>
            <div class="col col-6 text-end">
                <p style="font-size: x-large;">#1</p>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col col-6 text-start">
                <p style="font-size: x-large">ClearlyNotTheFunniestUser</p>
            </div>
            <div class="col col-6 text-end">
                <p style="font-size: x-large">#2</p>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col col-6 text-start">
                <p style="font-size: x-large">3timesTheCharm</p>
            </div>
            <div class="col col-6 text-end">
                <p style="font-size: x-large">#3</p>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col col-6 text-start">
                <p style="font-size: x-large">placeholder</p>
            </div>
            <div class="col col-6 text-end">
                <p style="font-size: x-large">#n</p>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col col-6 text-start">
                <p style="font-size: x-large">placeholder</p>
            </div>
            <div class="col col-6 text-end">
                <p style="font-size: x-large">#n</p>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col col-6 text-start">
                <p style="font-size: x-large">placeholder</p>
            </div>
            <div class="col col-6 text-end">
                <p style="font-size: x-large">#n</p>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col col-6 text-start">
                <p style="font-size: x-large">placeholder</p>
            </div>
            <div class="col col-6 text-end">
                <p style="font-size: x-large">#n</p>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col col-6 text-start">
                <p style="font-size: x-large">placeholder</p>
            </div>
            <div class="col col-6 text-end">
                <p style="font-size: x-large">#n</p>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col col-6 text-start">
                <p style="font-size: x-large">placeholder</p>
            </div>
            <div class="col col-6 text-end">
                <p style="font-size: x-large">#n</p>
            </div>
        </div>
    </div>
    <form action="/home" method="GET" style="display: inline;">
        <button type="submit">Home</button>
    </form>
</div>