
<div class="container justify-content-center align-items-center mt-5" id="leaderboardPage">
    <h1 class="py-2 henny-penny-regular">Behold, the best comedians...</h1>
    <div class="container border rounded justify-content-center align-items-center overflow-auto" id="leaderboardBox" style="height: 400px;">

    </div>
    <div class="text-center my-3">
        <a href="/home" class="btn btn-purple henny-penny-regular">
        Home
  </a>
</div>
</div>