<div class="container-fluid h-100 d-flex justify-content-center align-items-center mt-5">
<div class="col-12 col-sm-8 col-md-5 col-lg-4">
<form action="/register" method="POST" class="needs-validation" id="register" novalidate>
  <div class="mb-4">
    <h1 class="henny-penny-regular">Register for Jokespot</h1>
  </div>
  <div class="mb-4">
    <label for="username" class="form-label">Username</label>
    <input name="username" type="name" class="form-control" id="username" required>
  </div>

  <div class="mb-4">
  <label for="password" class="form-label">Password</label>
    <input name="password" type="password" class="form-control" id="regPassword" required>
    <small class="text-muted">
      Must be 8+ characters with at least 1 uppercase, 1 lowercase, 1 number, and 1 symbol (@$!%*?&).
    </small>
    <div class="invalid-feedback">
      Password must be 8+ characters with uppercase, lowercase, number, and symbol.
    </div>
  </div>

    <label class="switch"> 
        <input id="profanity_filter" name="profanity_filter" type="checkbox" value="true" checked>
        <span class="slider round"></span>
    </label>
    <small class="text-muted">
        Profanity Filter
    </small>

  <div class="mb-4">
    {{> message}}
  </div>

  <div class="mb-4">
  <button class="btn" type="submit" style="background-color: #ff3a28; border-color: #ca1100; color: white;">Register</button>
  </div>

  <div class="mb-4">
  <p>
    Already have an account? <a class="nav-link" href="/login" style="color: blue; text-decoration: none;">Login</a>
  </p>
  </div>
</form>
</div>
</div>