{{#if user}}
<h2 class="text-center mb-4 henny-penny-regular">{{user.username}} Settings</h2>
{{/if}}

<form action="/settings" method="POST">
    <div class="checkbox-cards-container" style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center; margin-bottom: 30px;">
        
        <!-- Dark Mode -->
        <div class="card" style="padding: 20px; min-width: 180px; text-align: center;">
            <label class="switch" style="display: flex; justify-content: center; align-items: center; margin: 0 auto;">
                <input type="checkbox" name="darkMode" {{#if user.dark_mode}}checked{{/if}}>
                <span class="slider round"></span>
            </label>
            <div style="margin-top:10px;">Enable Dark Mode</div>
        </div>

        <!-- Vulgar Content -->
        <div class="card" style="padding: 20px; min-width: 180px; text-align: center;">
            <label class="switch" style="display: flex; justify-content: center; align-items: center; margin: 0 auto;">
                <input type="checkbox" name="profanity_filter" {{#if user.profanity_filter}}checked{{/if}}>
                <span class="slider round"></span>
            </label>
            <div style="margin-top:10px;">Enable Vulgar Content</div>
        </div>

        <!-- Auto Refresh -->
        <div class="card" style="padding: 20px; min-width: 180px; text-align: center;">
            <label class="switch" style="display: flex; justify-content: center; align-items: center; margin: 0 auto;">
                <input type="checkbox" name="autoRefresh" {{#if user.auto_refresh}}checked{{/if}}>
                <span class="slider round"></span>
            </label>
            <div style="margin-top:10px;">Auto Refresh Jokes</div>
        </div>

        <!-- Profile Visibility -->
        <div class="card" style="padding: 20px; min-width: 180px; text-align: center;">
            <label class="switch" style="display: flex; justify-content: center; align-items: center; margin: 0 auto;">
                <input type="checkbox" name="profileVisibility" {{#if user.is_private}}checked{{/if}}>
                <span class="slider round"></span>
            </label>
            <div style="margin-top:10px;">Make Profile Private</div>
        </div>

        <div style="text-align:center; margin-top:20px;">
            <button type="submit" class="btn btn-success">
            Save Settings
            </button>
        </div>

    </div>

    <!-- Home Button -->
    <div style="text-align: center; margin-bottom: 30px;">
        <a href="/home" class="btn btn-primary btn-purple henny-penny-regular" style="font-size: 1rem; padding: 1rem 2rem;">
            Home
        </a>
    </div>
</form>